import * as React from "react"
import { storiesOf } from "@storybook/react-native"
import { StoryScreen, Story, UseCase } from "../../../storybook/views"
import { <%= props.pascalName %> } from "./"

storiesOf("<%= props.pascalName %>", module)
  .addDecorator(fn => <StoryScreen>{fn()}</StoryScreen>)
  .add("Style Presets", () => (
    <Story>
      <UseCase text="Default" usage="The default preset.">
        <<%= props.pascalName %> text="<%= props.pascalName %>" />
      </UseCase>
      <UseCase text="Secondary" usage="The secondary preset.">
        <<%= props.pascalName %> preset="secondary" text="<%= props.pascalName %>" />
      </UseCase>
    </Story>
  ))
