import * as React from "react"
import { View, ViewStyle } from "react-native"
import { color, spacing } from "../../theme"
import { Text } from "../text"
import { mergeAll, flatten } from "ramda";


export interface <%= props.pascalName %>Props {
  /**
   * Text which is looked up via i18n.
   */
  tx?: string

  /**
   * The text to display if not using `tx` or nested components.
   */
  text?: string

  /**
   * An optional style override useful for padding & margin.
   */
  style?: ViewStyle

  /**
   * A component preset
   */
  preset?: string
}


const BASE: ViewStyle = {
  backgroundColor: color.primaryDarker, //standard colors by role
  margin: spacing[2] //standard spacing
}

const presets = {
  /**
   * default preset
   */
  default: BASE,

  /**
   * a dummy secondary preset
   */
  secondary: {
    ...BASE,
    backgroundColor: color.palette.black  //standard colors by name
  } as ViewStyle
}

/**
 * Stateless functional component for your needs
 *
 * Component description here for TypeScript tips.
 */
export function <%= props.pascalName %>(props: <%= props.pascalName %>Props) {
  // grab the props
  const { tx, 
          text, 
          style: styleOverride,
          preset,
          ...rest} = props

  const textStyle = { }
  const style: ViewStyle = mergeAll(flatten([presets[preset] || presets.default, styleOverride]))

  return (
    <View style={style} {...rest}>
      <Text tx={tx} text={text} style={textStyle} />
    </View>
  )
}
